*.pyc
*-checkpoint.ipynb

.DS_Store
bloom_2022/f2d_simulation_test_50layer.pkl
bloom_2022/f2d_simulation_sigmastepmax_025_50layers.pkl
bloom_2022/f2d_simulation_sigmastepmax_025.pkl
bloom_2022/f2d_simulation_august13.pkl
bloom_2022/f2d_simulation_sigmastepmax_25_100layers.pkl
bloom_2022/f2d_simulation_asymmetric250_350.pkl
bloom_2022/f2d_simulation_asymmetric250_350_500layers.pkl
bloom_2022/f2d_simulation_asymmetric250_350_1000layers.pkl
bloom_2022/f2d_simulation_asymmetric250_350_500layers_center_reduction0.1.pkl
bloom_2022/f2d_simulation_asymmetric250_350_100layers_center_reduction0.1_Cy_0.pkl
bloom_2022/f2d_simulation_asymmetric250_350_100layers_center_reduction0.1_focus_on_growth.pkl
bloom_2022/f2d_simulation_asymmetric500_8_100layers_center_reduction0.25_Cy_0_Dy0_D_2.pkl
bloom_2022/f2d_simulation_asymmetric500_8_150layers_center_reduction0.25_Cy_0_D_2.pkl
bloom_2022/f2d_simulation_asymmetric250_350_500layers_center_reduction0.25_Cy_0.pkl
bloom_2022/f2d_simulation_asymmetric500_8_150layers_center_reduction0.25_Cy_0.pkl
bloom_2022/f2d_simulation_asymmetric500_16_75layers_center_reduction0.25_Cy_0_Dy0_D_2.pkl
bloom_2022/f2d_simulation_asymmetric500_20_500layers_center_reduction0.25_Cy_0.pkl
bloom_2022/f2d_simulation_asymmetric500_16_75layers_center_reduction0.25_Cy_0_Dy0_D_2_RK45.pkl
bloom_2022/f2d_simulation_asymmetric750_8_75layers_center_reduction0.25_Cy_0_D_2.pkl
bloom_2022/asymmetric250_350_500layers_center_reduction0.25_Cy_0_.gif
