*.pyc
*-checkpoint.ipynb

.DS_Store
bloom_2022/f2d_simulation_test_50layer.pkl
bloom_2022/f2d_simulation_sigmastepmax_025_50layers.pkl
bloom_2022/f2d_simulation_sigmastepmax_025.pkl
bloom_2022/f2d_simulation_august13.pkl
bloom_2022/f2d_simulation_sigmastepmax_25_100layers.pkl
bloom_2022/f2d_simulation_asymmetric250_350.pkl
bloom_2022/f2d_simulation_asymmetric250_350_500layers.pkl
bloom_2022/f2d_simulation_asymmetric250_350_1000layers.pkl
bloom_2022/f2d_simulation_asymmetric250_350_500layers_center_reduction0.1.pkl
bloom_2022/f2d_simulation_asymmetric250_350_100layers_center_reduction0.1_Cy_0.pkl
bloom_2022/f2d_simulation_asymmetric250_350_100layers_center_reduction0.1_focus_on_growth.pkl
bloom_2022/f2d_simulation_asymmetric500_8_100layers_center_reduction0.25_Cy_0_Dy0_D_2.pkl
bloom_2022/f2d_simulation_asymmetric500_8_150layers_center_reduction0.25_Cy_0_D_2.pkl
bloom_2022/f2d_simulation_asymmetric250_350_500layers_center_reduction0.25_Cy_0.pkl
bloom_2022/f2d_simulation_asymmetric500_8_150layers_center_reduction0.25_Cy_0.pkl
bloom_2022/f2d_simulation_asymmetric500_16_75layers_center_reduction0.25_Cy_0_Dy0_D_2.pkl
bloom_2022/f2d_simulation_asymmetric500_20_500layers_center_reduction0.25_Cy_0.pkl
bloom_2022/f2d_simulation_asymmetric500_16_75layers_center_reduction0.25_Cy_0_Dy0_D_2_RK45.pkl
bloom_2022/f2d_simulation_asymmetric750_8_75layers_center_reduction0.25_Cy_0_D_2.pkl
bloom_2022/asymmetric250_350_500layers_center_reduction0.25_Cy_0_.gif
bloom_2022/f2d_simulation_asymmetric250_200_1000layers_center_reduction0.1_D_2_RK45.pkl
bloom_2022/f2d_simulation_asymmetric500_16_75layers_center_reduction0.25_Cy_0_Dy0_D_2_odeint.pkl
bloom_2022/f2d_simulation_asymmetric250_200_1000layers_center_reduction0.1_D_2_RK45_sigmamax_-0.01.pkl
bloom_2022/f2d_simulation_asymmetric500_350_100layers_center_reduction0.1_D_2_RK45.pkl
bloom_2022/f2d_simulation_asymmetric250_200_1000layers_center_reduction0.1_D_2_RK45_sigmamax_0.2.pkl
bloom_2022/figures/1d_500layer_steady_state_graph_steps_vs_layers.png
bloom_2022/figures/1d_1000layer_steady_state_graph_steps_vs_layers.png
bloom_2022/figures/1d_1500layer_steady_state_graph_steps_vs_layers.png
bloom_2022/figures/2dsigmastep_contourf.png
bloom_2022/figures/07-07-2022_1D__1000layers.gif
bloom_2022/figures/07-07-2022_1D_1000alpha.png
bloom_2022/figures/07-07-2022_1D_1000layers.png
bloom_2022/figures/07-07-2022_1D_1000liquid.png
bloom_2022/figures/13-07-2022_1D__1000layers.gif
bloom_2022/figures/13-07-2022_1D_1000alpha.png
bloom_2022/figures/13-07-2022_1D_1000layers.png
bloom_2022/figures/13-07-2022_1D_1000liquid.png
bloom_2022/figures/29-07-2022_1D__1000layers.gif
bloom_2022/figures/asymmetric250_200_10layers_center_reduction0.1_D_2_RK45_sigmamax_-0.01_.gif
bloom_2022/figures/asymmetric250_200_1000layers_center_reduction0.1_D_2_RK45_sigmamax_-0.01__steadystate.png
bloom_2022/figures/asymmetric250_350_500layers_center_reduction0.25_Cy_0_.gif
bloom_2022/figures/f1d_simulation_250_1500layers_center_reduction0.1_D_2_RK45.png
bloom_2022/figures/f2d_simulation_asymmetric250_200_300layers_center_reduction0.1_D_2_RK45.png
bloom_2022/figures/f2d_simulation_asymmetric250_200_1000layers_center_reduction0.1_D_2_RK45_3d_proj.png
bloom_2022/figures/f2d_simulation_asymmetric250_200_1000layers_center_reduction0.1_D_2_RK45.png
bloom_2022/figures/f2d_simulation_asymmetric250_350_100layers_center_reduction0.1.gif
bloom_2022/figures/f2d_simulation_asymmetric250_350_500layers_center_reduction0.1 - Copy.gif
bloom_2022/figures/before center_red was working rihgt/2d_asym_500layer_steady_state_graph_steps_vs_layers.png
bloom_2022/figures/before center_red was working rihgt/2d_asym_1000layer_steady_state_graph_steps_vs_layers.png
bloom_2022/figures/before center_red was working rihgt/3d_model_20layers_cutaway.gif
bloom_2022/figures/before center_red was working rihgt/3d_model_results_2_layers.gif
bloom_2022/figures/before center_red was working rihgt/3d_model_results_20_layers.gif
bloom_2022/figures/before center_red was working rihgt/3d_model_results_20_layers.png
bloom_2022/figures/before center_red was working rihgt/3d_model_results_30_layers.gif
bloom_2022/figures/examples of remaining numerical error from integrator/2d_asym_250_350_500layer_Cy0_steady_state_graph_steps_vs_layers.png
bloom_2022/figures/examples of remaining numerical error from integrator/asymmetric500_350_100layers_center_reduction0.1_D_2_RK45_.png
bloom_2022/figures/examples of remaining numerical error from integrator/f2d_simulation_asymmetric500_8_150layers_center_reduction0.25_Cy_0_D_2.png
bloom_2022/figures/examples of remaining numerical error from integrator/f2d_simulation_asymmetric500_8_150layers_center_reduction0.25_Cy_0.png
bloom_2022/f2d_simulation_asymmetric250_200_500layers_center_reduction0.1_D_2_RK45_sigmamax_-0.01noisyinit_True.pkl
bloom_2022/f2d_simulation_asymmetric250_200_500layers_center_reduction0.1_D_2_RK45_sigmamax_0.2noisyinit_True.pkl
bloom_2022/asymmetric200_250_500layers_center_reduction0.1_D_2_RK45_sigmamax_0.2noisyinit_False__completion0.5.png
bloom_2022/asymmetric200_250_500layers_center_reduction0.1_D_2_RK45_sigmamax_0.2noisyinit_False__completion0.8.png
bloom_2022/asymmetric200_250_500layers_center_reduction0.1_D_2_RK45_sigmamax_0.2noisyinit_False__completion0.9.png
bloom_2022/asymmetric200_250_500layers_center_reduction0.1_D_2_RK45_sigmamax_0.2noisyinit_False__completion0.33.png
bloom_2022/asymmetric200_250_500layers_center_reduction0.1_D_2_RK45_sigmamax_0.2noisyinit_False__completion0.55.png
bloom_2022/asymmetric200_250_500layers_center_reduction0.1_D_2_RK45_sigmamax_0.2noisyinit_False__completion0.66.png
bloom_2022/asymmetric200_250_500layers_center_reduction0.1_D_2_RK45_sigmamax_0.2noisyinit_False_.gif
bloom_2022/asymmetric250_200_500layers_center_reduction0.1_D_2_RK45_sigmamax_0.2noisyinit_True_.gif
bloom_2022/100points_0.2smax_0.4c_r_1d_steps_time.png
bloom_2022/100points_0.2smax_0.5c_r_1d_steps_time.png
bloom_2022/100points_0.2smax_0.25c_r_1d_steps_time.png
bloom_2022/100points_0.2smax_0.33c_r_1d_steps_time.png
bloom_2022/100points_0.2smax_1.0c_r_1d_steps_time.png
bloom_2022/100points_0.25smax_0.25c_r_1d_steps_time.png
bloom_2022/100points_1d_steps_time.png
bloom_2022/150points_0.2smax_0.33c_r_1d_steps_time.png
bloom_2022/150points_1d_steps_time.png
bloom_2022/200points_0.2smax_0.1c_r_1d_steps_time.png
bloom_2022/200points_0.2smax_0.5c_r_1d_steps_time.png
bloom_2022/200points_0.2smax_0.15c_r_1d_steps_time.png
bloom_2022/200points_0.2smax_0.25c_r_1d_steps_time.png
bloom_2022/200points_0.2smax_0.33c_r_1d_steps_time.png
bloom_2022/200points_0.3smax_0.5c_r_1d_steps_time.png
bloom_2022/200points_0.4smax_0.5c_r_1d_steps_time.png
bloom_2022/200points_0.25smax_0.4c_r_1d_steps_time.png
bloom_2022/200points_0.25smax_0.5c_r_1d_steps_time.png
bloom_2022/200points_0.25smax_0.25c_r_1d_steps_time.png
bloom_2022/200points_1d_steps_time.png
bloom_2022/250points_0.2smax_0.33c_r_1d_steps_time.png
bloom_2022/250points_1d_steps_time.png
bloom_2022/300points_0.2smax_0.33c_r_1d_steps_time.png
bloom_2022/300points_1d_steps_time.png
bloom_2022/350points_0.2smax_0.33c_r_1d_steps_time.png
bloom_2022/350points_1d_steps_time.png
bloom_2022/400points_0.2smax_0.33c_r_1d_steps_time.png
bloom_2022/400points_1d_steps_time.png
bloom_2022/450points_0.2smax_0.33c_r_1d_steps_time.png
bloom_2022/450points_1d_steps_time.png
bloom_2022/figures/asymmetric250_200_500layers_center_reduction0.1_D_2_RK45_sigmamax_-0.01noisyinit_True__completion0.001.png
bloom_2022/figures/asymmetric250_200_500layers_center_reduction0.1_D_2_RK45_sigmamax_-0.01noisyinit_True__completion0.005.png
bloom_2022/figures/asymmetric250_200_500layers_center_reduction0.1_D_2_RK45_sigmamax_-0.01noisyinit_True__completion0.png
bloom_2022/figures/asymmetric250_200_500layers_center_reduction0.1_D_2_RK45_sigmamax_0.2noisyinit_True__completion0.001.png
bloom_2022/figures/asymmetric250_200_500layers_center_reduction0.1_D_2_RK45_sigmamax_0.2noisyinit_True__completion0.005.png
bloom_2022/figures/asymmetric250_200_500layers_center_reduction0.1_D_2_RK45_sigmamax_0.2noisyinit_True__completion0.png
bloom_2022/figures/asymmetric250_200_1000layers_center_reduction0.1_D_2_RK45_sigmamax_0.2__steadystate.png
bloom_2022/figures/asymmetric250_200_1000layers_center_reduction0.1_D_2_RK45_sigmamax_0.2_stepsovertime.png
bloom_2022/figures/f2d_simulation_asymmetric250_200_1000layers_center_reduction0.1_D_2_RK45_sigmamax_-0.01_surface.png
bloom_2022/figures/f2d_simulation_asymmetric250_200_1000layers_center_reduction0.1_D_2_RK45_sigmamax_-0.01.png
bloom_2022/figures/nx_250_750.0layers_center_reduction0.1_D_2_RK45_sigmamax_0.2noisyinit_True__completion0.001.png
bloom_2022/figures/nx_250_750.0layers_center_reduction0.1_D_2_RK45_sigmamax_0.2noisyinit_True__completion0.003.png
bloom_2022/figures/nx_250_750.0layers_center_reduction0.1_D_2_RK45_sigmamax_0.2noisyinit_True__completion0.005.png
bloom_2022/figures/nx_250_750.0layers_center_reduction0.1_D_2_RK45_sigmamax_0.2noisyinit_True__completion0.015.png
bloom_2022/figures/nx_250_750.0layers_center_reduction0.1_D_2_RK45_sigmamax_0.2noisyinit_True__completion0.png
bloom_2022/3d_model_10000iter.mp4
bloom_2022/3d_model.mp4
bloom_2022/08-11-2022_1D__50layers.gif
bloom_2022/08-11-2022_1D__500layers-Max-MSI-Laptop.gif
bloom_2022/08-11-2022_1D__500layers.gif
bloom_2022/08-11-2022_1D__1000layers.gif
bloom_2022/08-11-2022_1D_50alpha.png
bloom_2022/08-11-2022_1D_50layers.png
bloom_2022/08-11-2022_1D_50liquid.png
bloom_2022/08-11-2022_1D_500alpha-Max-MSI-Laptop.png
bloom_2022/08-11-2022_1D_500alpha.png
bloom_2022/08-11-2022_1D_500layers-Max-MSI-Laptop.png
bloom_2022/08-11-2022_1D_500layers.png
bloom_2022/08-11-2022_1D_500liquid-Max-MSI-Laptop.png
bloom_2022/08-11-2022_1D_500liquid.png
bloom_2022/08-11-2022_1D_1000alpha.png
bloom_2022/08-11-2022_1D_1000layers.png
bloom_2022/08-11-2022_1D_1000liquid.png
bloom_2022/08-11-2022_2D__100layers.mp4
bloom_2022/08-11-2022_2D__200layers.gif
bloom_2022/08-11-2022_2D__500layers.gif
bloom_2022/08-11-2022_2D_ablation_100layers.mp4
bloom_2022/nx_250_750.0layers_center_reduction0.1_D_2_RK45_sigmamax_0.2noisyinit_True__completion0.001.png
bloom_2022/nx_250_750.0layers_center_reduction0.1_D_2_RK45_sigmamax_0.2noisyinit_True__completion0.003.png
bloom_2022/nx_250_750.0layers_center_reduction0.1_D_2_RK45_sigmamax_0.2noisyinit_True__completion0.005.png
bloom_2022/nx_250_750.0layers_center_reduction0.1_D_2_RK45_sigmamax_0.2noisyinit_True__completion0.015.png
bloom_2022/nx_250_750.0layers_center_reduction0.1_D_2_RK45_sigmamax_0.2noisyinit_True__completion0.png
bloom_2022/f2d_simulation_asymmetric250_200_1000layers_center_reduction0.1_D_2_RK45_sigmamax_-0.01_surface.png
bloom_2022/f2d_simulation_asymmetric250_200_1000layers_center_reduction0.1_D_2_RK45_sigmamax_-0.01.png
