@charset "UTF-8";.bbCodeBlock{margin:1em
150px 1em 0;border:1px
solid rgb(206, 210, 216);-webkit-border-radius:4px;-moz-border-radius:4px;-khtml-border-radius:4px;border-radius:4px;-webkit-box-shadow:rgba(0,0,0,0.04) 0px 1px 6px;-moz-box-shadow:rgba(0,0,0,0.04) 0px 1px 6px;-khtml-box-shadow:rgba(0,0,0,0.04) 0px 1px 6px;box-shadow:rgba(0,0,0,0.04) 0px 1px 6px}.bbCodeBlock .bbCodeBlock,
.hasJs .bbCodeBlock .bbCodeSpoilerText,
.messageList.withSidebar
.bbCodeBlock{margin-right:0}.bbCodeBlock pre,
.bbCodeBlock
blockquote{margin:0}.bbCodeBlock
img{border:none}.bbCodeBlock
.type{font-size:11px;font-family:Tahoma,Helvetica,Arial,sans-serif;color:rgb(175, 181, 192);background:rgb(235, 236, 239) url('styles/executive/xenforo/gradients/form-button-white-25px.png') repeat-x top;padding:3px
8px;border-bottom:1px solid rgb(206, 210, 216);-webkit-border-top-left-radius:3px;-moz-border-radius-topleft:3px;-khtml-border-top-left-radius:3px;border-top-left-radius:3px;-webkit-border-top-right-radius:3px;-moz-border-radius-topright:3px;-khtml-border-top-right-radius:3px;border-top-right-radius:3px}.bbCodeBlock pre,
.bbCodeBlock
.code{font-size:10pt;font-family:Consolas,'Courier New',Courier,monospace;background-color:rgb(250, 250, 251);padding:10px;-webkit-border-radius:4px;-moz-border-radius:4px;-khtml-border-radius:4px;border-radius:4px;word-wrap:normal;overflow:auto;line-height:1.24;min-height:30px;max-height:500px;_width:600px;direction:ltr}.bbCodeBlock
.code{white-space:nowrap}.bbCodeQuote{border-color:#f9d9b0;overflow:auto}.bbCodeQuote
.attribution{color:rgb(71, 75, 81);background:#f9d9b0 url('styles/executive/xenforo/gradients/form-button-white-25px.png') repeat-x top;border-bottom:1px solid #f9d9b0;background-image: -moz-linear-gradient(top, rgba(255,255,255,0.45) 0%, rgba(255,255,255,0.2) 100%);background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.45)), color-stop(100%,rgba(255,255,255,0.2)));background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.45) 0%,rgba(255,255,255,0.2) 100%);background-image: -o-linear-gradient(top, rgba(255,255,255,0.45) 0%,rgba(255,255,255,0.2) 100%);background-image: -ms-linear-gradient(top, rgba(255,255,255,0.45) 0%,rgba(255,255,255,0.2) 100%);background-image:linear-gradient(to bottom, rgba(255,255,255,0.45) 0%,rgba(255,255,255,0.2) 100%)}.bbCodeQuote
.quoteContainer{overflow:hidden;position:relative;font-size:9pt;background-color:#fff4e5;background-repeat:repeat-x;background-position:top;padding:10px;-webkit-border-radius:4px;-moz-border-radius:4px;-khtml-border-radius:4px;border-radius:4px}.bbCodeQuote .quoteContainer
.quote{max-height:150px;overflow:hidden;padding-bottom:1px}.NoJs .bbCodeQuote .quoteContainer
.quote{max-height:none}.bbCodeQuote .quoteContainer
.quoteExpand{display:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;position:absolute;height:80px;top:90px;left:0;right:0;font-size:11px;line-height:1;text-align:center;color:#f9bc6d;cursor:pointer;padding-top:65px;background: -webkit-linear-gradient(top, rgba(255, 244, 229, 0) 0%, #fff4e5 80%);background: -moz-linear-gradient(top, rgba(255, 244, 229, 0) 0%, #fff4e5 80%);background: -o-linear-gradient(top, rgba(255, 244, 229, 0) 0%, #fff4e5 80%);background:linear-gradient(to bottom, rgba(255, 244, 229, 0) 0%, #fff4e5 80%);-webkit-border-bottom-left-radius:4px;-moz-border-radius-bottomleft:4px;-khtml-border-bottom-left-radius:4px;border-bottom-left-radius:4px;-webkit-border-bottom-right-radius:4px;-moz-border-radius-bottomright:4px;-khtml-border-bottom-right-radius:4px;border-bottom-right-radius:4px}.bbCodeQuote .quoteContainer
.quoteExpand.quoteCut{display:block}.bbCodeQuote .quoteContainer.expanded
.quote{max-height:none}.bbCodeQuote .quoteContainer.expanded
.quoteExpand{display:none}.bbCodeQuote
img{max-height:150px}.bbCodeQuote iframe,
.bbCodeQuote object,
.bbCodeQuote
embed{max-width:200px;max-height:150px}.bbCodeQuote iframe:-webkit-full-screen{max-width:none;max-height:none}.bbCodeQuote iframe:-moz-full-screen{max-width:none;max-height:none}.bbCodeQuote iframe:-ms-fullscreen{max-width:none;max-height:none}.bbCodeQuote iframe:fullscreen{max-width:none;max-height:none}.bbCodeSpoilerButton{margin:5px
0;max-width:99%}.bbCodeSpoilerButton>span{display:inline-block;max-width:100%;white-space:nowrap;text-overflow:ellipsis;overflow:hidden}.hasJs
.bbCodeSpoilerText{display:none;background-color:rgb(250, 250, 251);padding:5px;margin-top:5px;margin-right:150px;margin-bottom:5px;border:1px
solid rgb(235, 236, 239);-webkit-border-radius:5px;-moz-border-radius:5px;-khtml-border-radius:5px;border-radius:5px;overflow:auto}.hasJs .bbCodeSpoilerText .bbCodeSpoilerText,
.hasJs .bbCodeSpoilerText .bbCodeBlock,
.hasJs .messageList.withSidebar
.bbCodeSpoilerText{margin-right:0}.NoJs
.bbCodeSpoilerContainer{background-color:rgb(71, 75, 81);background-color:currentColor}.NoJs .bbCodeSpoilerContainer>.bbCodeSpoilerText{visibility:hidden}.NoJs .bbCodeSpoilerContainer:hover{background-color:transparent}.NoJs .bbCodeSpoilerContainer:hover>.bbCodeSpoilerText{visibility:visible}@media (max-width:800px){.Responsive .bbCodeBlock,
.Responsive.hasJs
.bbCodeSpoilerText{margin-right:0}}span.mce_bbm_hl{background-position:-760px 0 !important}span.mce_bbm_raw{background-position:-260px 0 !important}span.mce_bbm_spoiler{background:url(styles/sedo/editor/adv_sprites.png) no-repeat 0 0 !important}a.fbLogin,
#loginBar
a.fbLogin{display:inline-block;width:180px;height:22px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;cursor:pointer;background:#29447e url('//b.s-static.ak.facebook.com/images/connect_sprite.png');background-repeat:no-repeat;-webkit-border-radius:3px;-moz-border-radius:3px;-khtml-border-radius:3px;border-radius:3px;background-position:left -188px;padding:0px
0px 0px 1px;outline:none;text-decoration:none;color:white;font-weight:bold;font-size:11px;line-height:14px}a.fbLogin:active,
#loginBar a.fbLogin:active{background-position:left -210px}a.fbLogin:hover,
#loginBar a.fbLogin:hover{text-decoration:none}a.fbLogin
span{background:#5f78ab url('//b.s-static.ak.facebook.com/images/connect_sprite.png');border-top:solid 1px #879ac0;border-bottom:solid 1px #1a356e;display:block;padding:2px
4px 3px;margin:1px
1px 0px 21px;text-shadow:none;white-space:nowrap;overflow:hidden}a.fbLogin:active
span{border-bottom:solid 1px #29447e;border-top:solid 1px #45619d;background:#4f6aa3;text-shadow:none}.googleLogin,
#loginBar
.googleLogin{display:inline-block;width:180px;height:22px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;cursor:pointer;background-color:#dd4b39;border:#be3e2e solid 1px;-webkit-border-radius:3px;-moz-border-radius:3px;-khtml-border-radius:3px;border-radius:3px;padding-left:2px;color:white;font-weight:bold;font-size:11px;line-height:14px}.googleLogin
span{display:block;background:url('styles/executive/xenforo/gplus.png') no-repeat;background-position:left 0;padding:3px;padding-left:23px;white-space:nowrap;overflow:hidden}.googleLogin:active,
#loginBar .googleLogin:active{background-color:#be3e2e}#loginBar{color:rgb(206, 210, 216);background-color:rgb(32, 35, 40);position:relative;z-index:1}#loginBar
.ctrlWrapper{margin:0
10px}#loginBar
.pageContent{padding-top:0px;position:relative;_height:0px}#loginBar
a{color:rgb(175, 181, 192)}#loginBar
form{padding:5px
0;margin:0
auto;display:none;line-height:20px;position:relative}#loginBar .xenForm .ctrlUnit,
#loginBar .xenForm .ctrlUnit > dt
label{margin:0;border:none}#loginBar .xenForm .ctrlUnit>dd{position:relative}#loginBar .lostPassword,
#loginBar
.lostPasswordLogin{font-size:11px}#loginBar
.rememberPassword{font-size:11px}#loginBar
.textCtrl{color:rgb(250, 250, 251);background-color:rgb(60, 65, 75);border-color:rgb(144, 152, 167);text-shadow:none}#loginBar .textCtrl[type=text]{font-weight:bold;font-size:18px}#loginBar .textCtrl:-webkit-autofill{background:rgb(60, 65, 75) !important;color:rgb(250, 250, 251)}#loginBar .textCtrl:focus{}#loginBar
input.textCtrl.disabled{color:rgb(206, 210, 216);background-color:rgb(32, 35, 40);border-style:dashed}#loginBar
.button{min-width:85px;*width:85px}#loginBar
.button.primary{font-weight:bold}#loginBar
form.eAuth{-x-max-width:700px}#loginBar form.eAuth
.ctrlWrapper{border-right:1px dotted rgb(90, 98, 113);margin-right:200px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box}#loginBar form.eAuth
#eAuthUnit{position:absolute;top:0px;right:10px}#eAuthUnit
li{margin-top:10px;line-height:0}#loginBar
#loginBarHandle{font-size:11px;color:rgb(250, 250, 251);background-color:rgb(32, 35, 40);padding:0
10px;margin-right:20px;-webkit-border-bottom-right-radius:4px;-moz-border-radius-bottomright:4px;-khtml-border-bottom-right-radius:4px;border-bottom-right-radius:4px;-webkit-border-bottom-left-radius:4px;-moz-border-radius-bottomleft:4px;-khtml-border-bottom-left-radius:4px;border-bottom-left-radius:4px;position:absolute;right:0px;bottom: -24px;text-align:center;z-index:1;line-height:24px}@media (max-width:800px){.Responsive #loginBar form.eAuth
.ctrlWrapper{border-right:none;margin-right:10px}.Responsive #loginBar form.eAuth
#eAuthUnit{position:static;width:180px;margin:0
auto 10px}}.nodeList{zoom:1}.nodeList
.node{zoom:1;vertical-align:bottom}.nodeList
.node.level_1{margin-bottom:20px}.nodeList .node.level_1:last-child{margin-bottom:0}.nodeList .node.groupNoChildren+.node.groupNoChildren{margin-top: -20px}.node
.nodeInfo{overflow:hidden;zoom:1;position:relative}.node .nodeInfo.primaryContent,
.node
.nodeInfo.secondaryContent{padding:0}.node
.nodeIcon{margin-top:10px;margin-bottom:10px;margin-left:10px;float:left;width:36px;height:36px}.node .forumNodeInfo .nodeIcon,
.node .categoryForumNodeInfo
.nodeIcon{background-image:url('styles/executive/xenforo/node-sprite.png');background-repeat:no-repeat;background-position:0 0}.node .forumNodeInfo.unread .nodeIcon,
.node .categoryForumNodeInfo.unread
.nodeIcon{background-image:url('styles/executive/xenforo/node-sprite.png');background-repeat:no-repeat;background-position: -36px 0}.node .pageNodeInfo
.nodeIcon{background-image:url('styles/executive/xenforo/node-sprite.png');background-repeat:no-repeat;background-position: -72px 0}.node .linkNodeInfo
.nodeIcon{background-image:url('styles/executive/xenforo/node-sprite.png');background-repeat:no-repeat;background-position: -108px 0}.node
.nodeText{margin:10px
270px 10px 60px}.node .nodeText
.nodeTitle{font-weight:bold;font-size:13px}.node .unread .nodeText
.nodeTitle{font-weight:bold}.node
.nodeDescription{margin-top:6px}.hasJs .node
.nodeDescriptionTooltip{display:none}.Touch .node
.nodeDescriptionTooltip{display:block}.node
.nodeStats{margin-top:6px}.node
.nodeExtraNote{text-align:right;font-size:11px;color:rgb(138, 147, 162)}.node
.subForumList{overflow:hidden;*zoom:1;margin: -5px 0 10px;margin-left:60px}.node .subForumList
li{float:left;width:31%;margin:2px
0 2px 2%}.node .subForumList li
.nodeTitle{font-size:11px;overflow:hidden;white-space:nowrap;word-wrap:normal;text-overflow:ellipsis}.node .subForumList .unread
.nodeTitle{font-weight:bold}.node .subForumList li ol,
.node .subForumList li
ul{display:none}.node
.nodeLastPost{background:rgb(250, 250, 251) url('styles/executive/xenforo/gradients/category-23px-light.png') repeat-x top;padding:10px;border:1px
solid rgb(206, 210, 216);background-color:transparent;padding:3px
10px;margin:7px;position:absolute;top:0;right:0;line-height:18px;white-space:nowrap;word-wrap:normal;overflow:hidden;background:none transparent;border:0;width:210px;height:36px}.node .nodeLastPost
.lastThreadTitle{text-overflow:ellipsis;max-width:100%;display:block;overflow:hidden}.node .nodeLastPost
.lastThreadMeta{display:block}.node .nodeLastPost
.noMessages{line-height:28px}.node
.nodeControls{position:absolute;top:0;right:237px;margin:20px
0}.node
.tinyIcon{background:transparent url('styles/executive/xenforo/xenforo-ui-sprite.png') no-repeat -112px -16px;margin:0px
3px;display:block;white-space:nowrap;text-indent:9999px;overflow:hidden;opacity:0;width:16px;height:16px}.node .nodeInfo:hover .tinyIcon[href],
.Touch .node
.tinyIcon{opacity:1}.nodeDescriptionTip{padding:4px
10px;margin-top: -22px;line-height:1.5;width:350px;height:auto}.nodeDescriptionTip
.arrow{border:6px
solid transparent;border-right-color:rgb(0,0,0);border-right-color:rgba(0,0,0, 0.6);_border-right-color:rgb(0,0,0);border-left:1px none black;top:6px;left: -6px;bottom:auto}.nodeDescriptionTip.arrowBottom
.arrow{top:auto;left:10px;bottom: -6px;border:6px
solid transparent;border-top-color:rgb(0,0,0);border-top-color:rgba(0,0,0, 0.6);_border-top-color:rgb(0,0,0);border-bottom:1px none black}.nodeList .categoryForumNodeInfo,
.nodeList .forumNodeInfo,
.nodeList .pageNodeInfo,
.nodeList
.linkNodeInfo{background-color:rgb(255, 255, 255);padding:10px;border-bottom:1px solid rgb(235, 236, 239);padding:0}.nodeList
.categoryStrip{font-size:13px;color:rgb(60, 65, 75);background:rgb(235, 236, 239) url('styles/executive/xenforo/gradients/category-23px-light.png') repeat-x top;padding:8px
10px;margin:3px
auto 0;border:1px
solid rgb(206, 210, 216);background-image: -moz-linear-gradient(top, rgba(255,255,255,0.35) 0%, rgba(255,255,255,0) 100%);background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.35)), color-stop(100%,rgba(255,255,255,0)));background-image: -webkit-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(255,255,255,0) 100%);background-image: -o-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(255,255,255,0) 100%);background-image: -ms-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(255,255,255,0) 100%);background-image:linear-gradient(to bottom, rgba(255,255,255,.35) 0%,rgba(255,255,255,0) 100%);-webkit-box-shadow:inset rgba(255,255,255,0.7) 0px 1px 0px;-moz-box-shadow:inset rgba(255,255,255,0.7) 0px 1px 0px;-khtml-box-shadow:inset rgba(255,255,255,0.7) 0px 1px 0px;box-shadow:inset rgba(255,255,255,0.7) 0px 1px 0px;text-shadow:rgba(255,255,255,0.9) 0px 1px 0px;padding:12px;margin:0;border-width:0px;border-style:none;border-bottom:1px solid rgb(206, 210, 216);-webkit-border-top-left-radius:4px;-moz-border-radius-topleft:4px;-khtml-border-top-left-radius:4px;border-top-left-radius:4px;-webkit-border-top-right-radius:4px;-moz-border-radius-topright:4px;-khtml-border-top-right-radius:4px;border-top-right-radius:4px;min-height:6px}.nodeList .categoryStrip
.nodeTitle{font-weight:bold;font-size:14px;color:rgb(60, 65, 75)}.nodeList .categoryStrip .nodeTitle
a{color:rgb(60, 65, 75)}.nodeList .categoryStrip
.nodeDescription{font-size:12px;color:rgb(60, 65, 75)}.nodeList .categoryStrip .nodeDescription
a{color:rgb(60, 65, 75)}.nodeList .node.groupNoChildren + .node.groupNoChildren
.categoryStrip{display:none}.nodeStats{overflow:hidden;zoom:1}.nodeStats dl,.subForumsPopup{float:left;display:block;margin-right:3px}.subForumsPopup.Popup
.PopupControl.PopupOpen{background-image:none}.subForumsPopup
a.PopupControl{padding-left:5px;padding-right:5px}.subForumsPopup
.dt{color:rgb(138, 147, 162)}.subForumsPopup .PopupOpen
.dt{color:rgb(71, 75, 81)}.subForumsMenu .node
.node{padding-left:10px}.subForumsMenu .node
.nodeTitle{font-size:11px}.subForumsMenu .node .unread
.nodeTitle{font-weight:bold}.nodeListNewDiscussionButton{margin-top:10px;text-align:right}@media (max-width:610px){.Responsive .node
.nodeText{margin-right:0}.Responsive.Touch .node .nodeDescriptionTooltip,
.Responsive .node
.nodeDescription{display:none}.Responsive .node
.nodeLastPost{position:static;height:auto;width:auto;background:none;border:none;padding:0;margin: -8px 0 10px 60px}.Responsive .node .nodeLastPost
.noMessages{display:none}.Responsive .node .nodeLastPost .lastThreadTitle,
.Responsive .node .nodeLastPost
.lastThreadUser{display:none}.Responsive .node .nodeLastPost .lastThreadDate:before{content:attr(data-latest)}.Responsive .node
.nodeControls{display:none}.Responsive .node
.subForumList{display:none}.Responsive
.nodeDescriptionTip{width:auto;max-width:350px}}@media (max-width:480px){.Responsive
.subForumsPopup{display:none}}.profilePostListItem{overflow:hidden;zoom:1;margin:5px
0;padding-top:5px;border-top:1px solid rgb(235,236,239)}:not(.nonInitial)>.profilePostListItem:first-child{border-top:none;padding-top:0}.profilePostListItem
.avatar{float:left;font-size:0}.profilePostListItem .avatar
img{width:24px;height:24px}.profilePostListItem
.messageInfo{margin-left:34px}.profilePostListItem .messageContent article,
.profilePostListItem .messageContent
blockquote{display:inline}.profilePostListItem
.poster{font-weight:bold}.profilePostListItem
.messageMeta{overflow:hidden;zoom:1;font-size:11px;line-height:14px;padding-top:4px}.profilePostListItem
.privateControls{float:left}.profilePostListItem .privateControls
.item{float:left;margin-right:10px}.profilePostListItem
.publicControls{float:right}.profilePostListItem .publicControls
.item{float:left;margin-left:10px}.sidebar .statusPoster
textarea{width:100%;margin:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;resize:vertical;overflow:hidden}.sidebar .statusPoster
.submitUnit{margin-top:5px;text-align:right}.sidebar .sharePage
.shareControl{margin-top:10px;min-height:23px}.sidebar .sharePage
iframe{width:200px;height:20px}.sidebar .sharePage
iframe.fb_ltr{_width:200px !important}.sidebar .sharePage .facebookLike
iframe{z-index:52}.mast .sharePage
.secondaryContent{overflow:visible !important}@media (max-width:480px){.Responsive .sidebar
.sharePage{display:none}}a.twitterLogin,
#loginBar
a.twitterLogin{display:inline-block;width:180px;height:22px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;cursor:pointer;background-color:#eee;background-image: -webkit-linear-gradient(#fff, #dedede);background-image:linear-gradient(#fff, #dedede);border:#ccc solid 1px;-webkit-border-radius:3px;-moz-border-radius:3px;-khtml-border-radius:3px;border-radius:3px;padding:3px;color:#333 !important;font-weight:bold;font-size:11px;line-height:14px}a.twitterLogin
span{display:block;background:url('styles/executive/xenforo/twitter-bird.png') no-repeat;background-position:left 0;padding-left:22px;text-shadow:0 1px 0 rgba(255,255,255,.5);white-space:nowrap;overflow:hidden}a.twitterLogin:hover,
#loginBar a.twitterLogin:hover,
a.twitterLogin:active,
#loginBar a.twitterLogin:active{border-color:#d9d9d9;background-image: -webkit-linear-gradient(#f8f8f8,#d9d9d9);background-image:linear-gradient(#f8f8f8,#d9d9d9);text-decoration:none}.section.sectionMain.widget-container.widget-tabs{border:0;margin:0;padding:0}.section.sectionMain.widget-container.widget-tabs .widget-panes{padding:10px;;border-right:1px solid rgb(206, 210, 216);border-bottom:1px solid rgb(206, 210, 216);border-left:1px solid rgb(206, 210, 216);-webkit-border-bottom-left-radius:10px;-moz-border-radius-bottomleft:10px;-khtml-border-bottom-left-radius:10px;border-bottom-left-radius:10px;-webkit-border-bottom-right-radius:10px;-moz-border-radius-bottomright:10px;-khtml-border-bottom-right-radius:10px;border-bottom-right-radius:10px}.widget-tabs
.tabs{background:none}.widget-tabs .tabs li
a{font-weight:bold}.widget-tabs
.primaryContent{padding:0;background:none;border:0}.widget-poll .pollBlock
.pollContent{padding-left:0;width:auto}.widget-poll .pollBlock .pollOptions,
.widget-poll .pollBlock
.pollResults{border:0}.widget-poll .pollBlock .pollResult
h3.optionText{border:0;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.widget-poll .pollBlock .pollResult
.count{padding:0}.avatarList
.WidgetFramework_nextToAvatar{margin-left:41px}.avatarList .WidgetFramework_nextToAvatar
.username{margin-top:0}.widget .statusPoster
textarea{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;width:100%;margin:0;resize:vertical;overflow:hidden}.WidgetFramework_WidgetRenderer_ShareThisPage .sharePage
.shareControl{float:none}.WidgetFramework_WidgetRenderer_FeedReader_Entries{}.WidgetFramework_WidgetRenderer_FeedReader_Entries
.limitedHeight{max-height: -1px}.WidgetFramework_WidgetRenderer_FeedReader_Entries
.WidgetFramework_WidgetRenderer_FeedReader_Entry{text-align:justify;display:block;overflow:hidden;margin-bottom:3px}.WidgetFramework_WidgetRenderer_FeedReader_Entries
img.WidgetFramework_WidgetRenderer_FeedReader_Thumbnail{width:auto;float:right;margin-left:3px}.WidgetFramework_WidgetRenderer_FeedReader_Entries .WidgetFramework_WidgetRenderer_FeedReader_Entry:nth-child(2n) img.WidgetFramework_WidgetRenderer_FeedReader_Thumbnail{float:left;margin-right:3px}.WidgetFramework_WidgetRenderer_XFRM_Resources
.Hint{float:right}.WidgetFramework_WidgetRenderer_Threads .unread>a{font-weight:bold}.sidebar .WidgetFramework_WidgetRenderer_Threads .avatarList
.username{display:inline;font-size:inherit;margin:0}.WidgetFramework_WidgetRenderer_Threads_FullThreadList{}.WidgetFramework_WidgetRenderer_Threads_FullThreadList
.subHeading{font-size:1.3em}.WidgetFramework_WidgetRenderer_Threads_FullThreadList
.info{padding:5px
10px;border-top:1px dashed rgb(235, 236, 239)}.WidgetFramework_WidgetRenderer_Threads_FullThreadList
.counters{float:right}.WidgetFramework_WidgetRenderer_Threads_FullThreadList
.message{margin-bottom:10px}.WidgetFramework_WidgetRenderer_Threads_FullThreadList
.message{zoom:1}.WidgetFramework_WidgetRenderer_Threads_FullThreadList .message:after{content:'.';display:block;height:0;clear:both;visibility:hidden}.WidgetFramework_WidgetRenderer_Threads_FullThreadList
.messageInfo{padding:5px
10px}.WidgetFramework_WidgetRenderer_Threads_FullThreadList .message
.newIndicator{font-size:11px;color:rgb(90, 98, 113);background:rgb(175, 181, 192) url('styles/executive/xenforo/gradients/form-button-white-25px.png') repeat-x top;padding:1px
5px;margin: -5px -5px 5px 5px;border:1px
solid rgb(175, 181, 192);-webkit-border-radius:3px;-moz-border-radius:3px;-khtml-border-radius:3px;border-radius:3px;-webkit-border-top-right-radius:0px;-moz-border-radius-topright:0px;-khtml-border-top-right-radius:0px;border-top-right-radius:0px;display:block;float:right;position:relative;-webkit-box-shadow:1px 1px 3px rgba(0,0,0, 0.25);-moz-box-shadow:1px 1px 3px rgba(0,0,0, 0.25);-khtml-box-shadow:1px 1px 3px rgba(0,0,0, 0.25);box-shadow:1px 1px 3px rgba(0,0,0, 0.25);margin-right: -17px}.WidgetFramework_WidgetRenderer_Threads_FullThreadList .message .newIndicator
span{background-color:rgb(175, 181, 192);-webkit-border-top-right-radius:3px;-moz-border-radius-topright:3px;-khtml-border-top-right-radius:3px;border-top-right-radius:3px;position:absolute;top: -4px;right: -1px;width:5px;height:4px}.WidgetFramework_WidgetRenderer_Threads_FullThreadList .messageText
.readMoreLink{display:block;text-align:right}.WidgetFramework_WidgetRenderer_ProfilePosts_ProfilePostItem{overflow:hidden;zoom:1;margin:5px
0;padding-top:5px;border-top:1px solid rgb(235,236,239)}.WidgetFramework_WidgetRenderer_ProfilePosts_ProfilePostItem:first-child{border-top:none;padding-top:0}.WidgetFramework_WidgetRenderer_ProfilePosts_ProfilePostItem
.avatar{float:left;font-size:0}.WidgetFramework_WidgetRenderer_ProfilePosts_ProfilePostItem .avatar
img{width:24px;height:24px}.WidgetFramework_WidgetRenderer_ProfilePosts_ProfilePostItem
.messageInfo{margin-left:34px}.WidgetFramework_WidgetRenderer_ProfilePosts_ProfilePostItem .messageContent article,
.WidgetFramework_WidgetRenderer_ProfilePosts_ProfilePostItem .messageContent
blockquote{display:inline}.WidgetFramework_WidgetRenderer_ProfilePosts_ProfilePostItem
.poster{font-weight:bold}.WidgetFramework_WidgetRenderer_ProfilePosts_ProfilePostItem
.messageMeta{overflow:hidden;zoom:1;font-size:11px;line-height:14px;padding-top:4px}.widget
.avatarHeap{margin-right: -10px}.non-sidebar-widget .avatarList
li{margin:5px
0;overflow:hidden;zoom:1}.non-sidebar-widget .avatarList
.avatar{margin-right:10px;float:left;width:32px;height:32px;width:auto;height:auto}.non-sidebar-widget .avatarList .avatar
img{width:32px;height:32px}.non-sidebar-widget .avatarList
.username{font-weight:bold;margin-top:2px;display:block}.non-sidebar-widget .avatarList
.userTitle{color:rgb(138, 147, 162)}.non-sidebar-widget
.userList{}.non-sidebar-widget .userList
.username{}.non-sidebar-widget .userList
.username.invisible{color:rgb(144, 152, 167)}.non-sidebar-widget .userList
.username.followed{}.non-sidebar-widget .userList
.moreLink{display:block}.Tinhte_XenTag_WidgetRenderer_Cloud
h3{display:none}
/* CSS returned from cache. */